# BEGIN YOURLS
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /20120610/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /20120610/index.php [L]
</IfModule>
# END YOURLS
